:root {
  --color-01: #e4e4e4;
  --color-02: #373737;
  --color-03: #6ebe89;
  --color-04: #ffffff;
  --color-05: #ffffff8e;
  --color-06: #4959e5;
  --color-07: #bd1a1a;
  --color-08: #000;
  --color-09: #d49cb2;
  --color-10: #2196f3;
  --color-11: #e91e63;
  --color-12: #37373750;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rajdhani", sans-serif;
  background: linear-gradient(111deg, #9198e5, #e66465);
  background-repeat: no-repeat;
  min-height: 950px;
  height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button.main-button {
  border: none;
  padding: 10px 28px;
  font-size: 25px;
  background-color: var(--color-03);
  color: var(--color-04);
  border-radius: 5px;
  cursor: pointer;
}

label.main-label {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-05);
  transition: 0.3s;
}

label.main-label:focus-within {
  color: var(--color-04);
}

input.main-input-text {
  display: block;
  border: none;
  height: 40px;
  padding: 4px;
  color: var(--color-02);
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--color-05);
  transition: 0.3s;
}

input.main-input-text::placeholder {
  color: var(--color-12);
  font-size: 18px;
}

input.main-input-text:focus {
  outline: none;
  background-color: var(--color-04);
}

@media (max-width: 767px) {
  button.main-button {
    font-size: 1rem;
    padding: 10px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
.header-of-page {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-of-page .background-blur {
  background-color: #ffffff30;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
}
.header-of-page nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.header-of-page nav figure a {
  display: flex;
  align-items: center;
}
.header-of-page nav .button-berger-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}
.header-of-page nav .button-berger-icon .icon-box {
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: none;
  position: relative;
}
.header-of-page nav .button-berger-icon .icon-box span {
  display: block;
  height: 8px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--color-01);
  transition: 0.3s;
}
.header-of-page nav .button-berger-icon[data-clicked=true] .icon-box span:first-of-type {
  transform: rotate(45deg) translate(10px, 10px);
}
.header-of-page nav .button-berger-icon[data-clicked=true] .icon-box span:nth-of-type(2) {
  width: 0;
}
.header-of-page nav .button-berger-icon[data-clicked=true] .icon-box span:last-of-type {
  transform: rotate(-45deg) translate(10px, -10px);
}
.header-of-page nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.header-of-page nav ul li a {
  padding: 5px;
  border-radius: 5px;
  color: var(--color-01);
  transition: 0.3s;
  font-weight: 600;
  font-size: 20px;
}
.header-of-page nav ul li a:hover {
  background-color: var(--color-01);
  color: var(--color-02);
}
.header-of-page nav ul li a.active {
  background-color: var(--color-01);
  color: var(--color-02);
}

@media (max-width: 767px) {
  .header-of-page nav .button-berger-icon {
    display: block;
  }
  .header-of-page nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--color-04);
    flex-flow: column nowrap;
    height: 0px;
    width: 100%;
    z-index: 100;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.3s;
    padding: 0 20px;
  }
  .header-of-page nav ul li a {
    color: var(--color-02);
    width: 100%;
  }
  .header-of-page nav ul li a:hover {
    color: var(--color-10);
    padding-left: 10px;
  }
  .header-of-page nav ul li a.active {
    color: var(--color-10);
  }
  .header-of-page nav .button-berger-icon[data-clicked=true] ~ ul {
    height: 300px;
  }
}
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main header {
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
main header h1 {
  color: var(--color-01);
  font-size: 38px;
  font-weight: 600;
}
main header figure {
  display: flex;
  align-items: center;
  background-color: var(--color-01);
  padding: 7px;
  border-radius: 7px;
}
main section.perint-section {
  width: 70%;
  height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
main section.perint-section > section {
  padding: 20px;
  min-width: 100%;
  height: 100%;
  display: block;
}
main section.perint-section > section .title-section {
  text-align: center;
  font-size: 37px;
  color: var(--color-05);
  font-weight: 500;
  margin-bottom: 30px;
  height: 50px;
}
main section.perint-section > section form {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
main section.perint-section div.background-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff42;
  filter: blur(1px);
  z-index: -1;
}
main section.perint-section[data-counter-section="0"] > section {
  display: none;
}
main section.perint-section[data-counter-section="0"] .select-input-type {
  display: block;
}
main section.perint-section[data-counter-section="1"] > section {
  display: none;
}
main section.perint-section[data-counter-section="1"] .enter-manual {
  display: block;
}
main section.perint-section[data-counter-section="2"] > section {
  display: none;
}
main section.perint-section[data-counter-section="2"] .qr-code-style {
  display: block;
}
main section.perint-section[data-counter-section="3"] > section {
  display: none;
}
main section.perint-section[data-counter-section="3"] .input-file {
  display: block;
}
main section.perint-section[data-counter-section="4"] > section {
  display: none;
}
main section.perint-section[data-counter-section="4"] .show-item {
  display: block;
}

@media (max-width: 767px) {
  main header h1 {
    font-size: 1.5rem;
  }
  main header figure img {
    width: 1.5rem;
  }
  main section.perint-section {
    width: 100%;
  }
  main section.perint-section > section .title-section {
    font-size: 2rem;
  }
}
.select-input-type {
  display: block;
}
.select-input-type form fieldset {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  border: none;
}
.select-input-type form fieldset div.inputs {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
}
.select-input-type form fieldset label {
  padding: 10px;
  font-size: 36px;
  width: 100%;
  background-color: var(--color-05);
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}
.select-input-type form fieldset label input[type=radio] {
  position: absolute;
  opacity: 0;
}
.select-input-type form fieldset label span {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-02);
}
.select-input-type form fieldset label span::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.select-input-type form fieldset label input:checked ~ span::after {
  background-color: var(--color-03);
}
.select-input-type form fieldset label input:focus ~ span {
  box-shadow: 0px 0px 0px 4px #00b0ff;
}
.select-input-type form fieldset button {
  margin-top: 20px;
  align-self: flex-end;
}

@media (max-width: 767px) {
  .select-input-type form fieldset label {
    font-size: 1.5rem;
  }
  .select-input-type form fieldset label span {
    width: 25px;
    height: 25px;
  }
}
.enter-manual form .main-inputs-and-submit-but {
  height: 40%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 15px;
}
.enter-manual form .main-inputs-and-submit-but label:first-of-type {
  width: 100%;
}
.enter-manual form .main-inputs-and-submit-but label:first-of-type input {
  width: 100%;
}
.enter-manual form .main-inputs-and-submit-but label:last-of-type {
  width: 75%;
}
.enter-manual form .main-inputs-and-submit-but label:last-of-type input {
  width: 100%;
}
.enter-manual form .main-inputs-and-submit-but .button-submit {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-manual form .main-inputs-and-submit-but .button-submit button[type=submit] {
  background-color: var(--color-10);
}
.enter-manual .buttons {
  height: calc(60% - 50px - 30px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 0;
}
.enter-manual .buttons button {
  font-size: 20px;
}
.enter-manual .buttons .style-and-tiem-buttons {
  display: flex;
  justify-content: space-between;
}
.enter-manual .buttons .style-and-tiem-buttons button {
  background-color: var(--color-02);
  position: relative;
  overflow: hidden;
}
.enter-manual .buttons .style-and-tiem-buttons button span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-04);
  height: 100%;
  width: 25%;
}
.enter-manual .buttons .style-and-tiem-buttons button:last-of-type {
  position: relative;
  overflow: hidden;
  padding-left: 68px;
}
.enter-manual .buttons .style-and-tiem-buttons button:last-of-type span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-04);
  height: 100%;
  width: 25%;
  color: var(--color-02);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.enter-manual .buttons .back-and-exports-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  column-gap: 10px;
  position: relative;
}
.enter-manual .buttons .back-and-exports-buttons .back-button button {
  font-size: 25px;
}
.enter-manual .buttons .back-and-exports-buttons .button-export {
  background-color: var(--color-10);
}
.enter-manual .buttons .back-and-exports-buttons .button-export i {
  color: var(--color-02);
  font-size: 1.8rem;
}
.enter-manual .buttons .back-and-exports-buttons .exports-buttons {
  position: absolute;
  background-color: var(--color-02);
  padding: 10px;
  height: 120px;
  top: -130px;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  border-radius: 7px;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.enter-manual .buttons .back-and-exports-buttons .exports-buttons button {
  background-color: var(--color-03);
  color: var(--color-04);
  font-weight: 500;
  font-size: 1rem;
}
.enter-manual .buttons .back-and-exports-buttons .button-export[data-clicked=true] ~ .exports-buttons {
  pointer-events: all;
  opacity: 1;
}

@media (max-width: 767px) {
  .enter-manual form .main-inputs-and-submit-but {
    height: 30%;
  }
  .enter-manual form .buttons {
    padding: 20px 0 0 0;
    height: calc(100% - 30px - 50px - 30%);
  }
}
.input-file form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.input-file form .fack-input {
  height: 60%;
  width: 100%;
  border: 4px dashed var(--color-05);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input-file form .fack-input input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  border-radius: 20px;
  opacity: 0;
}
.input-file form .fack-input .focus-input-file {
  position: absolute;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  box-shadow: 0px 0px 0px 4px #00b0ff;
  opacity: 0;
  transition: 0.3s;
  border-radius: 12px;
}
.input-file form .fack-input input:focus ~ .focus-input-file {
  opacity: 1;
}
.input-file form .fack-input .icons-and-file-name {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.input-file form .fack-input .icons-and-file-name i {
  font-size: 70px;
  color: var(--color-05);
}
.input-file form .fack-input .icons-and-file-name i:nth-of-type(2) {
  display: none;
  color: var(--color-07);
}
.input-file form .fack-input .icons-and-file-name i:last-of-type {
  display: none;
  color: var(--color-06);
}
.input-file form .fack-input .icons-and-file-name span {
  text-align: center;
}
.input-file form .fack-input .icons-and-file-name .file-name {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-file form .fack-input .icons-and-file-name .file-name,
.input-file form .fack-input .icons-and-file-name .error {
  font-size: 20px;
  color: var(--color-02);
  font-weight: 500;
  display: none;
}
.input-file form .fack-input p {
  font-size: 20px;
  color: var(--color-02);
}
.input-file form div.buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
}
.input-file form[data-changed="1"] .fack-input .icons-and-file-name i:first-of-type {
  display: none;
}
.input-file form[data-changed="1"] .fack-input .icons-and-file-name i:last-of-type {
  display: block;
}
.input-file form[data-changed="1"] .fack-input .icons-and-file-name .file-name {
  display: block;
}
.input-file form[data-changed="1"] .fack-input p {
  display: none;
}
.input-file form[data-changed="2"] .fack-input .icons-and-file-name i:first-of-type {
  display: none;
}
.input-file form[data-changed="2"] .fack-input .icons-and-file-name i:nth-of-type(2) {
  display: block;
}
.input-file form[data-changed="2"] .fack-input .icons-and-file-name .error {
  display: block;
}

.qr-code-style form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}
.qr-code-style form input[data-error="1"] {
  border: 4px solid var(--color-07);
}
.qr-code-style form .inputs-box {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: space-between;
  height: 40%;
  width: 100%;
  gap: 10px 33px;
}
.qr-code-style form .inputs-box label input {
  width: 200px;
}
.qr-code-style form .qr-fack {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code-style form .qr-fack i {
  font-size: 140px;
  padding: 10px;
  background-color: var(--color-04);
  border-radius: 10px;
}
.qr-code-style form .back-button {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
