header.the-header-peage {
  position: relative;
  height: 100px;
  width: 100%;
  .background-blur {
    background-color: #ffffff30;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(1px);
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    nav.the-header-nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        li {
          a {
            padding: 5px;
            border-radius: 5px;
            color: var(--color-01);
            transition: 0.3s;
            font-weight: 600;
            font-size: 20px;
          }
          a:hover {
            background-color: var(--color-01);
            color: var(--color-02);
          }
        }
      }
    }
  }
}
