$height-line-prosess: 8px;
$height-number-span-prosess: 35px;

main {
  padding: 30px;
  div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    row-gap: 20px;
    >header {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      h1 {
        font-size: 40px;
        color: var(--color-01);
        font-weight: 600;
      }
      >figure{
        padding: 5px;
        background-color: var(--color-01);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .line-prosess {
      position: relative;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .item-line {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        row-gap: 5px;
        span {
          display: block;
          text-align: center;
        }
        span.number {
          background-color: var(--color-01);
          border-radius: 5px;
          width: 35px;
          height: $height-number-span-prosess;
          line-height: $height-number-span-prosess;
          font-size: 20px;
          font-weight: 600;
          box-shadow: 2px 2px 9px #0006;
          transition: .4s;
        }
        span.text {
          color: var(--color-01);
          font-weight: 400;
        }
      }
      .item-line:first-child{
        span.number[active="0"],
        span.number[active="1"],
        span.number[active="2"] {
          background-color: var(--color-03);
          color: var(--color-01);
        }
      }
      .item-line:nth-child(2) {
        span.number[active="1"],
        span.number[active="2"]{
          background-color: var(--color-03);
          color: var(--color-01);
        }
        
      }
      .item-line:nth-child(3) {
        span.number[active="2"] {
          background-color: var(--color-03);
          color: var(--color-01);
        }
        
      }
      .lines {
        position: absolute;
        width: calc(100% - 100px);
        height: $height-line-prosess;
        background-color: var(--color-01);
        top: calc(35px / 2 - $height-line-prosess / 2);
        left: 50px;
        z-index: -1;
        span {
          float: left;
          display: block;
        }
        .one-tow {
          height: 100%;
          background-color: var(--color-03);
        }
        .tow-three {
          height: 100%;
          background-color: var(--color-03);
        }
        .one-tow[active="1"],
        .one-tow[active="2"] {
          width: 50%;
        }
        .tow-three[active="2"] {
          width: 50%;
        }
      }
    }
    
    section.data-canter {
      padding: 20px;
      position: relative;
      width: 70%;
      height: 600px;
      border-radius: 26px;
      overflow: hidden;
      .background-blur {
        background-color: #ffffff30;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(1px);
      }
      div.input-output-datas {
        height: 90%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
        // transform: translateX(calc(-100% - 20px));
        >div {
          min-width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-flow: column nowrap;
          row-gap: 20px;
          transition: .3s;
          h4 {
            font-size: 35px;
            color: var(--color-01);
            font-weight: 600;
          }
        }
        div.select-input-type {
          div.checkbox {
            width: 80%;
            ul {
              li {
                background-color: var(--color-01);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 10px;
                margin: 10px 0;
                border-radius: 7px;
                overflow: hidden;
                padding-right: 10px;
                cursor: pointer;
                i,
                p,
                div.check {
                  pointer-events: none;
                }
                i {
                  background-color: var(--color-03);
                  height: 60px;
                  width: 60px;
                  font-size: 40px;
                  line-height: 60px;
                  text-align: center;
                  color: var(--color-05);
                }
                p {
                  font-size: 23px;
                  font-weight: 500;
                  color: var(--color-02);
                  flex-grow: 1;
                }
                div.check {
                  height: 30px;
                  width: 30px;
                  background-color: var(--color-02);
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  span {
                    height: 40%;
                    width: 40%;
                    
                    border-radius: 50%;
                    display: block;
                  }
                  span[active="1"] {
                    background-color: var(--color-03);
                  }
                }
              }
            }
          }
        }
        div.box-file {
          width: 70%;
          height: 300px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          position: relative;
          overflow: hidden;
          border-radius: 26px;
          border: 3px dashed var(--color-05);
          .input-fake {
            padding: 7px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            i, 
            p {
              color: var(--color-01);
              text-align: center;
            }
            i {
              font-size: 70px;
            }
            p {
              font-size: 20px;
            }
          }
          input[type=file] {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      div.buttons-mover {
        height: 10%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        button {
          transition: .3s;
        }
        button.back-button[active="0"],
        button.next-button[active="2"] {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}
