.enter-manual {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 20px;
  form {
    .main-inputs-and-submit-but {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 10px;
      label {
        input {
          width: 100%;
        }
      }
      label:first-of-type {
        width: 100%;
      }
      label:nth-of-type(2) {
        width: 75%;
      }
      label:last-of-type {
        display: flex;
        align-items: center;
        column-gap: 5px;
        span {
          display: inline-block;
          background-color: var(--color-01);
          color: var(--color-02);
          padding: 0 6px;
          border-radius: 5px;
          max-width: 50%;
          overflow-x: scroll;
        }
      }
      .button-submit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        button[type="submit"] {
          background-color: var(--color-10);
        }
      }
    }
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    column-gap: 10px;
    position: relative;
    .back-button {
        flex-basis: 100%;
      }
    .button-advanced,
    .button-export{
      background-color: var(--color-10);
        i {
          color: var(--color-04);
          font-size: 2rem;
        }
    }
    .style-and-tiem-buttons,
    .exports-buttons {
        position: absolute;
        background-color: var(--color-10);
        padding: 0px;
        height: 0px;
        overflow: hidden;
        top: -130px;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        border-radius: 7px;
        transition: 0.3s;
        button {
          margin: 0 10px;
          background-color: var(--color-04);
          color: var(--color-02);
          font-weight: 500;
          font-size: 1rem;
        }
        button:first-of-type {
          margin-top: 10px;
        }
      }
    .button-advanced {
        background-color: var(--color-11);
    }
    .style-and-tiem-buttons {
      right: 70px;
      background-color: var(--color-11);
      button {
        background-color: var(--color-04);
        color: var(--color-02);
      }
    }
    .button-advanced[data-clicked="true"] ~ .style-and-tiem-buttons,
    .button-export[data-clicked="true"] ~ .exports-buttons {
        height: 120px;
      }
    }
}

@media (max-width: 767px) {
  .enter-manual {
    form {
      .main-inputs-and-submit-but {
        height: 30%;
      }
      .buttons {
        padding: 20px 0 0 0;
        height: calc(100% - 30px - 50px - 30%);
      }
    }
  }
}
