main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 30px;
  header {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    h1 {
      color: var(--color-01);
      font-size: 38px;
      font-weight: 600;
    }
    figure {
      display: flex;
      align-items: center;
      background-color: var(--color-01);
      padding: 7px;
      border-radius: 7px;
    }
  }
  section.perint-section {
    width: 70%;
    // height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    > section {
      padding: 20px;
      min-width: 100%;
      .title-section {
        text-align: center;
        font-size: 37px;
        color: var(--color-05);
        font-weight: 500;
        margin-bottom: 30px;
      }
      form {
        margin: 0 auto;
      }
    }

    div.background-blur {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #ffffff42;
      filter: blur(1px);
      z-index: -1;
    }
  }
}

@media (max-width: 767px) {
  main {
    header {
      h1 {
        font-size: 1.3rem;
      }
      figure {
        img {
          width: 1.5rem;
        }
      }
    }
    section.perint-section {
      width: 90%;
      > section {
        .title-section {
          font-size: 1.5rem;
          }
          form {
            width: 100%;
        }
      }
    }
  }
}
