.qr-code-style {
  transition: 0.3s;
  width: 100%;
  // background: linear-gradient(110deg, #2196f3, #ff5722);
  background: linear-gradient(110deg, #5491f8, #5491f8);

  &[data-show="true"] {
    transform: translateX(-100%);
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    position: relative;

    .box-inputs {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: space-evenly;
      gap: 10px 25px;
      padding: 0 30px;
      flex-grow: 1;
      >div {
        
        &>* {
          line-height: 1.5;
          display: block;
        }

        input {
          width: 100%;
        }

      }
    }

    .qrcode-img {
      width: 50%;

      span {
        font-size: 1.5rem;
      }
    }

    .but-close {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 20%;

      button {
        width: 100%;
        background-color: var(--color-04);

        i {
          color: var(--color-10);
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .qr-code-style {
    form {
      .inputs-box {
        padding: 0;

        label {
          width: calc(50% - 20px);
        }
      }
    }
  }
}