@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?br2zy3');
  src:  url('fonts/icomoon.eot?br2zy3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?br2zy3') format('truetype'),
    url('fonts/icomoon.woff?br2zy3') format('woff'),
    url('fonts/icomoon.svg?br2zy3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-export-outline:before {
  content: "\e905";
}
.icon-cloud_done:before {
  content: "\e903";
}
.icon-miscellaneous_services:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-arrow_drop_up:before {
  content: "\e906";
}
.icon-cloud-error:before {
  content: "\e904";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-lock:before {
  content: "\f023";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-file-code-o:before {
  content: "\e902";
}
