<!-- Section Enter manual-->
<section class="enter-manual">
  <form>
    <legend class="title-section">Enter manual</legend>
    <div class="main-inputs-and-submit-but">
      <label for="qr-value" class="qr-value main-label">
        Value Qr-code
        <input
          id="qr-value"
          class="main-input-text"
          value="1234123452"
          placeholder="Value of Qr"
          required
        />
      </label>
      <label for="qr-title" class="qr-title main-label">
        Title for Qr-code
        <input
          id="qr-title"
          class="main-input-text"
          value="A50s"
          placeholder="Title of Qr (Option)"
        />
      </label>
      <div class="button-submit">
        <button type="submit" class="main-button">Add Qr-code</button>
      </div>
    </div>
    <div class="buttons">
      <div class="style-and-tiem-buttons">
        <button class="main-button">Qr-code style</button>
        <button class="main-button"><span>1</span>show items</button>
      </div>
      <div class="back-and-exports-buttons">
        <div class="back-button">
          <button class="main-button">Back</button>
        </div>
        <div class="exports-buttons">
          <button class="main-button">Export image</button>
          <button class="main-button">Export PDF</button>
        </div>
      </div>
    </div>
  </form>
</section>
