<!-- Section input file-->
<section class="input-file">
  <form data-changed="3">
    <legend class="title-section">Input file</legend>
    <div class="fack-input">
      <input type="file" name="inputFile" id="input-file" required />
      <div class="focus-input-file"></div>
      <div class="icons-and-file-name">
        <i class="icon-cloud-upload"></i>
        <i class="icon-cloud-error"></i>
        <i class="icon-cloud_done"></i>
        <span class="file-name">file.json</span>
        <span class="error">Error</span>
      </div>
      <p>Drop your file here or Click to borwse</p>
    </div>
    <div class="buttons">
      <button class="main-button" id="next-but" type="submit">Next</button>
      <button class="main-button">Back</button>
    </div>
  </form>
</section>