<!-- Section select input type -->
<section class="select-input-type">
  <form name="select-input-type-form">
    <fieldset>
      <legend class="title-section">Select input data type</legend>
      <div class="inputs">
        <label for="enter-manual"
          >Enter manual
          <input type="radio" name="data-type" id="enter-manual" checked  value="enterManual"/>
          <span class="check-mark"></span>
        </label>

        <label for="import-excel-file"
          >Import Excel file
          <input type="radio" name="data-type" id="import-excel-file" value="importExcelFile"/>
          <span class="check-mark"></span>
        </label>

        <label for="import-json-file"
          >Import JSON file
          <input type="radio" name="data-type" id="import-json-file" value="importJsonFile"/>
          <span class="check-mark"></span>
        </label>
      </div>
      <button class="main-button" type="submit">Next</button>
    </fieldset>
  </form>
</section>
