<!-- Header of page -->
<header class="header-of-page">
  <div class="background-blur"></div>
  <div class="container">
    <nav>
      <figure class="logo">
        <a href="#">
          <img src="./images/logo.svg" alt="logo" />
        </a>
      </figure>
      <ul class="perint-items">
        <li class="item">
          <a href="home">Home</a>
        </li>
        <li class="item">
          <a href="services"> Services </a>
        </li>
        <li class="item">
          <a href="about"> About </a>
        </li>
        <li class="item">
          <a href="sall-as"> Support </a>
        </li>
      </ul>
    </nav>
  </div>
</header>